@page "/counter"
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime

<PageTitle>Számláló</PageTitle>

<h1>Számláló</h1>

<p role="status">Jelenlegi érték: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Katt!</button>
<button class="btn btn-outline-primary" @onclick="GoGoogle">Google</button>

@if (currentCount>=5)
{
    <p class="mt-2">Kaptam egy 5-t!</p>
}

@for (int i = 0; i < currentCount; i++)
{
    <p>Gratulálok!</p>
}


@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }


    private void GoGoogle(MouseEventArgs e)
    {
        if (currentCount>=7)
        {
            JSRuntime.InvokeVoidAsync("open", "https://www.google.com/","_blank");
        }
    }
}
