@page "/counter"
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime

<PageTitle>Számláló</PageTitle>

<h1>Számláló</h1>

<p role="status">Jelenlegi érték: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Katt!</button>

@if (currentCount>=5)
{
    <p class="mt-2">Kaptam egy 5-t!</p>
}

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
