@page "/counter"
@rendermode InteractiveServer

<PageTitle>Számláló</PageTitle>

<h1>Számláló</h1>

<p role="status">Jelenlegi érték: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Katt!</button>

@code {    
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
