@page "/"
@layout Layout.MainLayoutEmpty


<div class="keret">
    <h3>Kezdolap</h3>


    <div class="gomb">
        <NavLink href="/home">
            <button class="btn btn-success">Bejelentkezés</button>
        </NavLink>        
    </div>

    
</div>
