@page "/todo"
@rendermode InteractiveServer

<h3>Todo: @todos.Count(x => !x.IsDone) darab</h3>
<hr />
<div class="col-md-4 col-sm-12">
    <input @bind="newTodo" class="form-control mb-3 " />
    <button @onclick="AddTodo" class="btn btn-outline-primary">Hozzáadás</button>
</div>

<p class="mt-3">elvégzett feladat: @todos.Count(x => x.IsDone) darab</p>

<ul>
    @foreach (var item in todos)
    {
        <li class="liformazas ">
                @* <input @bind="item.Title" />  *@
                <input type="checkbox" @bind="item.IsDone" class="me-2"/>
                @item.Title           
        </li>
    }
</ul>


@code {
    private List<TodoItem> todos = new();
    string newTodo = "";


    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new TodoItem { Title = newTodo });
            newTodo = string.Empty;
        }

    }
}
