<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Kezdes</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
                <span class="me-2" aria-hidden="true"><Icon Name="IconName.House" Size="IconSize.x4" Color="IconColor.Light" /></span> Kezdőlap
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="me-2" aria-hidden="true"><Icon Name="IconName.Hourglass" Size="IconSize.x4" Color="IconColor.Light" /></span> Számláló
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="me-2" aria-hidden="true"><Icon Name="IconName.CloudLightningRainFill" Size="IconSize.x4" Color="IconColor.Light" /></span> Időjárás
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gyakorlas">
                <span class="me-2" aria-hidden="true"><Icon Name="IconName.BanFill" Size="IconSize.x4" Color="IconColor.Light" /></span> Gyakorlás
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="binding">
                <span class="me-2" aria-hidden="true"><Icon Name="IconName.Clipboard2Data" Size="IconSize.x4" Color="IconColor.Light" /></span> Binding
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="todo">
                <span class="me-2" aria-hidden="true"><Icon Name="IconName.JournalArrowUp" Size="IconSize.x4" Color="IconColor.Light" /></span> Todo
            </NavLink>
        </div>
    </nav>
</div>

